<nav class="navbar navbar-expand-lg navbar-dark bg-secondary p-4">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Henny Penny', cursive; ">The<i class="fas fa-home"></i>ood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-white"></span>
    </button>
  
    <div class="col-sm-8 col-md-8 d-flex justify-content-end">
        {% if user.is_authenticated %}
        <ul>
            <li class="nav-item list-unstyled">
            <a class="nav-link btn btn-block text-white success-color-dark" href="{% url 'new_hood'%}">New Hood </a>
          </li>
      </ul>
        <ul>
          <li class="dropdown list-unstyled text-white">
              <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user" style="color: white;"></i> My Account </a>
            <ul class="dropdown-menu dropdown-default" role="menu">
              <li>
                  <a class="dropdown-item" href="{%url 'profile' user.username%}">Profile</a>
                </li>

                <li class="nav-item active">
                  <form class="form-inline text-dark mt-2" method="get" action="{% url 'search' %}">
                      {% csrf_token %}
                      <div class="md-form my-0">
                          <input class="form-control mr-sm-2 text-white bg-success rounded-pill px-2" type="text" placeholder="Search" name="title" aria-label="Search" style="border: 1px solid black;">
                      </div>
                  </form>
                </li>
              
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="dropdown list-unstyled text-white">
              <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa-brands fa-quinscape" style="color: white;"></i> APIs </a>
            <ul class="dropdown-menu dropdown-default" role="menu">
              <li>
                  <a class="dropdown-item" href="api/profile/">Profile API</a>
                </li>
              
              <li>
                <a class="dropdown-item" href="api/project/">Projects API</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Users API</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li class="list-unstyled">
            <a class='btn btn-sm btn-default font-weight-bold text-white' href="{% url 'login' %}" style="font-size: 15px;">Login</a>
            <a class='btn btn-sm btn-default font-weight-bold text-white' href="{% url 'signup' %}"style="font-size: 15px;">Register</a>
        </li>

        {% endif %}
  </div>
           <!-- Adding a search form  -->
           <form class="form-inline my-2 my-lg-0 " action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by category" name="photo" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"style="font-size:20px;color:white;font-weight:bold">Search</button>
          </form>
        </div>
</nav>