{% extends 'base.html' %}
{% block content %}

<h1 class="text-center" style="font-family: 'Kanit', sans-serif;">Welcome to {{hood.name}}</h1>


<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-lg-6 mb-4">
            <img class="" src="{{hood.hood_logo.url}}" alt="Card image cap">
        </div>
        <div class=" col-sm-12 col-lg-6">
            <p><b>Name:</b> {{hood.name}}</p>  
            <p><b>Location:</b>{{hood.location}}</p>
            <p><b>Occupants:</b> {{hood.occupants_count}}</p>
            <p><b>Description:</b> {{hood.description}}</p>
            <p><b>Emergency Contact:</b> {{hood.emergency_contact}}</p>
            <a class='btn grey darken' href="{%url 'newbiz'%}">New business</a>
            <a class="btn default-color" href=" /businesses/{{hood.id}} ">View Businesses </a><br><br>

            <a class='btn grey darken' href="{%url 'post'%}">New Post</a>
            <a class='btn default-color' href="/hoodpost/{{hood.id}}">View Post</a>


        </div>
    </div>
</div>


{%endblock%}